{% extends "base.html" %}
{% block main %}
<br>
<div class="container">
    <div class="alert alert-success" data-pg-collapsed>
        <strong>Well done!</strong> Click the link bellow to download
        <strong>{{ data.softname }} v.{{ data.linkVersion }}</strong>
    </div>
<div>
    <iframe src="{{ linkAdressPreview }}?theme=dark&view=&sort=&direction=ASC"
            width="330" height="400" frameBorder="0" allowfullscreen
            webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen>
    </iframe>
</div>
</div>
{% endblock %}