 {% extends "base.html" %}
 {% block main %}
 <br>

 <div class="container">
    
    {% for soft in data %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{ soft.softName }}</h2>
             <p class="text-muted">
                {{ soft.softDesc}}
                </p>
        </div>
        <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <th>Version</th>
                        <th>Name</th>
                        <th>Extension</th>
                        <th>Size</th>
                        <th>Date</th>
                    </thead>
                    {% for link in soft.softLinks %}

                    <tr>
                        <td>{{ link.linkVersion }}</td>
                        <td><a href="{{ url_for('download_form',
                        linkVersion=link.linkVersion,
                        linkName=link.linkName,
                        linkExtension=link.linkExtension,
                        linkSize=link.linkSize,
                        linkDate=link.linkDate,
                        linkAdress=link.linkAdress,
                        softname=soft.softName) }}">{{ link.linkName }}</a></td>
                        <td>{{ link.linkExtension }}</td>
                        <td>{{ link.linkSize }}</td>
                        <td>{{ link.linkDate }}</td>
                    </tr>

                     {% endfor %}
                </table>
        </div>
    </div>
 {% endfor %}
</div>
{% endblock %}
