
{% extends "base.html" %}
{% block main %}
<div class="container">
    <h2>Download</h2>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" data-pg-collapsed>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ message }}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

    <div class="well">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        Thank you for your interest for
        <strong>{{ data.softname }} v.{{ data.linkVersion }} </strong>.
        <br>Please complete the information bellow in order to download our software. Be advised that your email is private and we will not give it to others. By clicking the download button you accept that the software is provided on an as is basis, whithout warranty of any kind!
    </div>
    <form method='get' action='/download_form' role="form">
        <div class="form-group">
            <label class="control-label" for="exampleInputEmail1">Email address</label>
            <input type="email" name='email' class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label class="control-label">
                    <input type="checkbox" name='keepmeposted' checked="checked"> Keep me updated about the product I download
                </label>
            </div>
            <input type="hidden" name="linkVersion" value={{ data.linkVersion }}>
            <input type="hidden" name="linkName" value={{ data.linkName }}>
            <input type="hidden" name="linkExtension" value={{ data.linkExtension }}>
            <input type="hidden" name="linkSize" value={{ data.linkSize }}>
            <input type="hidden" name="linkAdress" value={{ data.linkAdress }}>
            <input type="hidden" name="softname" value={{ data.softname }}>
        </div>
        <button type="submit" class="btn">Download</button>
    </form>
</div>
{% endblock %}

