  
{% extends "base.html" %}
{% block main %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1>Lucien's Softwares</h1>
                <p>You will find here some software I created. They are downloadable for free. Enjoy <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></p>
                <p><a class="btn btn-primary btn-lg" href="/download" role="button">Download &raquo;</a></p>
            </div>
        </div>

{% endblock %}

