 {% extends "base.html" %}
{% block main %}
<br>
 <div class="row marketing">
<div class="container">
    <div class="starter-template">
        <div class="alert alert-danger" data-pg-collapsed> 
            <strong>Error 404</strong> Page not found.        
        </div>
    </div>
</div>
</div>
        {% endblock %}